<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491702242762-fheof025e6dc68tpvg947k2qupcjcodb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491702242762-fheof025e6dc68tpvg947k2qupcjcodb</string>
	<key>API_KEY</key>
	<string>AIzaSyAfLH5oGw8JKIn_EoxZzdheGj9JzUrIJqM</string>
	<key>GCM_SENDER_ID</key>
	<string>491702242762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TuwaiqBoard.TuwaiqBoard</string>
	<key>PROJECT_ID</key>
	<string>tuwaiqboard-42391</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiqboard-42391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491702242762:ios:914cbd03c344b3e4e3d333</string>
</dict>
</plist>