<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92554521030-dsc0embf6b6bfhi849mc30ar0teosg52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92554521030-dsc0embf6b6bfhi849mc30ar0teosg52</string>
	<key>API_KEY</key>
	<string>AIzaSyC3OyXv2qofcHKQ0vLUSqSf5g9ypW5fp0s</string>
	<key>GCM_SENDER_ID</key>
	<string>92554521030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TuwaiqBoard.TuwaiqBoard</string>
	<key>PROJECT_ID</key>
	<string>hello-world-2901a</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-2901a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92554521030:ios:b88c8976cb88661b232ac7</string>
</dict>
</plist>